{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/banner.css') }}">
{% endblock %}


<section id="banner" class="position-relative">
    <h2 class="position-absolute bottom-50 start-50 translate-middle-x pe-5">{{profile.lastName|upper}} {{profile.firstName}}</h2>
    <h3 class="position-absolute top-50 start-50 text-capitalize">{{profile.title}}</h3>   
</section>