<section id="banner" class="">
    <div class="d-flex justify-content-center h-100">
        <div class="container">
            <div class="row">
                <div class="offset-3 col-3">
                    <h2>{{profile.lastName|upper}} {{profile.firstName}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="offset-6 col-6">
                    <h3>{{profile.title}}</h3>
                </div>
            </div>
        </div>
    </div>
</section>