{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/banner.css') }}">
{% endblock %}


<section id="banner" class="position-relative">
    <div class="position-absolute bottom-50 start-50 translate-middle-x pe-3">
        <h2 class="fw-bold text-light py-2 text-wrap">{{profile.lastName|upper}} {{profile.firstName}}</h2>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle-x pe-2">
        <h3 class="text-center text-capitalize fw-bold text-light fs-5">{{profile.title}}</h3>   
    </div>
</section>