<footer class="bg-color-blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="text-center text-light py-3">
                    <span class="bi bi-c-circle "> </span>
                    <span class="">{{dev_contact_name}} 2022-{{'now' | date("Y")}} - Tous droits réservés</span>
                </div>
            </div>
        </div>
    </div>
</footer>