<footer>
    <div class="container-fluid py-4">

        <div class="d-none d-lg-block row justify-content-center">
            <div class="col-12 text-center">
                <a href="{{ path('login') }}">
                    <img src="{{ asset('img/matete.png') }}" alt="Mon avatar">
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <span class="bi bi-c-circle text-color-orange fw-bold"></span>
                <span class="text-color-orange fw-bold">{{dev_contact_name}} 2022-{{'now' | date("Y")}} - Tous droits réservés</span>
            </div>
        </div>

    </div>
</footer>