{% extends 'baseAdmin.html.twig' %}

{% block title %}Project - Create{% endblock %}

{% block body %}

<main>
    <h3 class="text-center py-3">Création d'une catégorie de projet</h3>

    <form action="POST">

        {{form_start(form)}}
        {{form_end(form)}}
        
        <a class="btn btn-success" href="{{ path('skill_categories') }}">Annuler</a>
        <button type="submit" class="btn btn-danger">Créer</button>
        
    </form>
</main>

{% endblock %}