{% extends 'baseAdmin.html.twig' %}

{% block title %}Category Skill{% endblock %}

{% block body %}
<main class="my-2">

    <h4 class="text-center py-3">Les catégories de compétences</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            {% for sCats in skillCats %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{sCats.name}}</td>
                <td>
                    <a href="" class="btn btn-danger"><i class="bi bi-trash fs-4"></i></a>
                    <a href="" class="btn btn-info"><i class="bi bi-recycle fs-4"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('create_skill_category') }}" class="btn btn-primary">Ajouter une catégorie de compétence</a>
    </div>

</main>
{% endblock %}