{% extends 'baseAdmin.html.twig' %}

{% block title %}Profiles{% endblock %}

{% block body %}

<main class="my-2">

    <h4 class="text-center py-3">Les profiles</h4>

    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Short pitch</td>
                <td>Description</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for vProfile in profiles %}
            <tr>
                <td>{{vProfile.name}}</td>
                <td>{{vProfile.shortPitch}}</td>
                <td>{{vProfile.description}}</td>
                <td>
                <a href="" class="btn btn-danger"><i class="bi bi-trash fs-4"></i></a>
                <a href="" class="btn btn-info"><i class="bi bi-recycle fs-4"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('profile-admin-create') }}" class="btn btn-primary">Ajouter un profil</a>
    </div>
</main>

{% endblock %}