/* **************************************** RESET **************************************** */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

main {
    min-height: calc(100vh - 9rem) ;
}

header {
    height: 4.5rem;
}

footer {
    height: 4.5rem;
}

footer img{
    max-width: 5vw;
    border-radius: 50px;
}



#imgSkill{
    width: 2rem;
    object-fit: contain;
}

#brSmall, #br{
    height: .5rem;
}

div.anchor{
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
}