{% extends 'baseAdmin.html.twig' %}

{% block title %}Category Project{% endblock %}

{% block body %}
<main class="container my-2">
    <div class="row justify-content-center">
        <div class="col-8">
            <h3 class="text-center py-3">Les catégories de projets</h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for pCats in projectCats %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{pCats.name}}</td>
                        <td>
                            <a href="{{ path('project-category-admin-delete',{'id': pCats.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?')"><i
                                    class="bi bi-trash fs-4"></i></a>
                            <a href="{{ path('project-category-admin-update',{'id': pCats.id}) }}" class="btn btn-info"><i class="bi bi-recycle fs-4"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 text-end">*
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#addModal">Création</button>
        </div>
    </div>

    {% include "admin/admin_project_category/formModal.html.twig" %}

</main>
{% endblock %}