
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-black" id="addModalLabel">Création d'une catégorie de compétence</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            {{form_start(form)}}
            <div class="modal-body text-black">
                {{form_row(form.name,{'label':'Désignation:' })}}
                {{form_row(form.submit, {'label':'Ajouter'})}}
            </div>
            {{form_end(form)}}

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>